<div class="profile-page-back-to">
  {{buttonArrow}}
</div>
<div class="profile-page-content">
  <div class="profile-page-content-header">
    {{avatar}}
  </div>
  <div>{{editFieldsList}}</div>
  <div class="profile-page-content-actions">
    {{buttonForm}}
  </div>
</div>
