<nav>
  {{> NavLink path="/" text="Главная" }}
  {{> NavLink path="/login" text="Авторизация" }}
  {{> NavLink path="/sign-up" text="Регистрация" }}
  {{> NavLink path="/chats" text="Чаты" }}
  {{> NavLink path="/profile" text="Профиль" }}
  {{> NavLink path="/profile/edit" text="Изменить профиль" }}
  {{> NavLink path="/profile/change-password" text="Изменить пароль" }}
</nav>
