.button-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    border-radius: 50%;
    background: var(--light-grey);
  }

  &:hover img,
  &:active img {
    filter: var(--svg-filter-primary-color);
  }
}
