<div class="chat-header">
  <div class="chat-header-contact">
    <div class="chat-header-avatar">
      {{> Avatar s=true}}
    </div>

    <h2 class="chat-header__name">Вадим</h2>
  </div>

  <div class="chat-header-menu">
    {{> ButtonIcon url="/assets/menu-icon.svg"}}

    <div class="chat-header-menu-dropdown">
      {{> DropdownMenu}}
    </div>
  </div>

</div>
