<div class="chat-header-contact">
  <div class="chat-header-avatar">
    {{avatar}}
  </div>

  <h2 class="chat-header__name">{{title}}</h2>
</div>

<div class="chat-header-menu">
  {{buttonIcon}}

  <div class="chat-header-menu-dropdown">
    {{dropdownMenu}}
  </div>
</div>


