.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-page__title {
    font-size: 40px;
}

.error-page__description {
    font-size: 20px;
}

.error-page__link {
    color: var(--primary-color);
}
