.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 40px;
    }

    .description {
        font-size: 20px;
    }

    .link {
        color: var(--primary-color);
    }
}
