<div class="chat-window">
  <div class="chat-window__header">{{> ChatWindowHeader}}</div>
  <div class="chat-window__content">{{> ChatWindowContent}}</div>
  <div class="chat-window__footer">{{> ChatWindowFooter}}</div>
</div>
