.profile-page-content-header {
    text-align: center;
}
.profile-page-content-header__name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.profile-page-content-actions__item {
    color: var(--primary-color);
    text-align: left;
}
.profile-page-content-actions__item {
    padding: 10px 0;
    border-bottom: 1px solid var(--light-grey);
}
.profile-page-content-actions__item {
    font-size: 13px;
    font-weight: 400;
    text-wrap-mode: nowrap;
}
.profile-page-content-actions {
    display: flex;
    flex-direction: column;
}
.profile-page-content-actions__item_red {
    color: var(--error-color);
}
