  <div class="profile-page-content-header">
    {{> Avatar}}
    <h2 class="profile-page-content-header__name">Иван</h2>
  </div>

  {{> ProfileFormDetails}}

  <div class="profile-page-content-actions">
    <a href="#" class="profile-page-content-actions__item">Изменить данные</a>
    <a href="#" class="profile-page-content-actions__item">Изменить пароль</a>
    <a href="#" class="profile-page-content-actions__item profile-page-content-actions__item_red">Выйти</a>
  </div>

