<div class="login-page">
  {{#> Form name="loginForm" title="Вход" }}
    {{#*inline "content"}}
      {{> LoginPageContent }}
    {{/inline}}

    {{#*inline "actions"}}
      {{> LoginPageActions }}
    {{/inline}}
  {{/Form}}
</div>
