.profile-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-grey);
}

.profile-form-field__title {
  font-size: 13px;
  font-weight: 400;
  text-wrap-mode: nowrap;
  color: var(--text-primary-color);
}

