<div class="sign-up-page">
  {{#> Form name="signUpForm" title="Регистрация" }}
    {{#*inline "content"}}
      {{> SignUpPageContent }}
    {{/inline}}

    {{#*inline "actions"}}
      {{> SignUpPageActions }}
    {{/inline}}
  {{/Form}}
</div>
