.profile-form-field {
  padding: 10px 0;
  border-bottom: 1px solid var(--light-grey);
}

.profile-form-field__title {
  font-size: 13px;
  font-weight: 400;
  text-wrap-mode: nowrap;
  color: var(--text-primary-color);
}

.profile-form-field__error {
  margin-top: 8px;
  text-align: right;
  color: var(--error-color);
  font-size: 8px;
  font-weight: 400;
}

