<div class='chat-message__text'>{{message.text}}</div>
  <div class='chat-message-info'>
    {{#compare message.status "===" "seen"}}
      <img
        class='chat-message__status'
        src='/assets/msg-status-seen.svg'
        alt='status'
      />
    {{/compare}}
    <div class='chat-message__time {{#compare message.type "===" "outcoming" }}chat-message__time_outcoming{{else}}chat-message__time_incoming{{/compare}}'>{{message.time}}</div>
</div>




