{{> Avatar m=true}}
  <div class="chat-content">
    <div class="chat-content-top">
      <h2 class="chat-content__author">{{name}}</h2>
      <h3 class="chat-content__time">{{time}}</h3>
    </div>

    <div class="chat-content-bottom">
      <h3 class="chat-content__sender">{{#compare type "===" 'incoming'}}You:{{/compare}}</h3>
      <h3 class="chat-content__message">{{text}}</h3>
    </div>
    {{#if amount}}
      <div class="chat-content__amount">{{amount}}</div>
    {{/if}}
</div>

