<div>
  {{> ProfileFormField type="text" name="email" value="pochta@yandex.ru" label="Почта"}}
  {{> ProfileFormField type="text" name="login" value="ivanivanov" label="Логин"}}
  {{> ProfileFormField type="text" name="first_name" value="Иванов" label="Фамилия"}}
  {{> ProfileFormField type="text" name="second_name" value="Иван" label="Имя"}}
  {{> ProfileFormField type="text" name="display_name" value="Иван" label="Имя в чате"}}
  {{> ProfileFormField type="text" name="phone" value="+7(909)-967-30-30" label="Телефон"}}
</div>
