.chat-window-footer {
  display: grid;
  grid-template-columns: 32px 1fr 28px;
  grid-column-gap: 10px;
  align-items: center;

  /* padding-top: 11px; */

  /* border-top: 1px solid var(--light-grey); */
}
