<div class="chat-window-footer">
  <img src="/assets/file-attach-icon.svg" alt="file attach icon"/>
  {{> InputMessage name="message" placeholder="Сообщение"}}
  {{> ButtonArrow right = true}}
</div>
