<div class="profile-page-back-to">
  {{buttonArrow}}
</div>
<div class="profile-page-content">
  <div class="profile-page-content-header">
    {{profilePageAvatarUpload}}
  </div>
  {{profileFormDetails}}
  <div class="profile-page-content-actions">
      {{buttonForm}}
  </div>
</div>

