<div class="profile-page-back-to">
  {{buttonArrow}}
</div>
<form class="profile-page-content">
  <div class="profile-page-content-header">
    {{avatar}}
  </div>
  <div>{{content}}</div>
  <div class="profile-page-content-form-action">
    {{buttonForm}}
  </div>
</form>
