.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--light-grey);
}
.avatar_s {
    width: 34px;
    height: 34px;
}
.avatar_m {
    width: 47px;
    height: 47px;
}
.avatar__no-avatar {
    width: 40px;
    height: 40px;
}
.avatar__no-avatar_s {
    width: 15px;
    height: 15px;
}
.avatar__no-avatar_m {
    width: 20px;
    height: 20px;
}
