@import url('normalize.css');

:root {
  --primary-color: rgb(51 105 243 / 100%);
  --text-primary-color: rgb(30 30 30 / 100%);
  --text-secondary-color: rgb(153 153 153 / 100%);
  --error-color: rgb(255 47 47 / 100%);
  --light-grey: rgb(239 239 239 / 100%);
  --light-blue: rgb(228 237 253 / 100%);
  --bg-seconddary-color: rgb(251 251 251 / 100%);
  --form-shadow: drop-shadow(0 0 6mm rgb(0 0 0 / 14%));
  --form-border-radius: 12px;
  --svg-filter-primary-color: invert(42%) sepia(93%) saturate(4401%)
    hue-rotate(215deg) brightness(97%) contrast(96%);
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h2,
h3 {
  margin: 0;
}

input {
  appearance: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
