:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: rgba(51, 105, 243, 1);
  --text-secondary-color: rgba(153, 153, 153, 1);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
input {
  appearance: none;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
