.chats {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.chats .chats__item {
  border-top: 1px solid var(--light-grey);
}

.chats__item:last-child {
  border-bottom: 1px solid var(--light-grey);
}
