<input class="avatar-upload__input" type="file" id="myAvatar" name="filename">
<label for="myAvatar" class="avatar-upload-btn">
  <img class="avatar-upload-btn__img" src="/assets/no-avatar.svg" alt="avatar"/>
  <span class="avatar-upload-btn__label">Поменять аватар</span>
</label>

